= render 'layouts/header'
.postsindex
  .side-bar
    = render 'render/sidebar'
    .container
      = image_tag "yellowcar.jpg", class: "yellowcar", width: "800px", height: "500px"
      .post-list
        - @posts.each do |post|
          %li
            = post.image
            = link_to "#{post.title}", post_path(post.id), class: 'list'